

.banner-image img {
    width: 160px;
    height: 20%;
    background-color:black;
 /* Flexbox container */
 display: flex;
}

body{
    background-color: #424141;
}


header{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: black;
    color: white;
    height: 120px;
    width: 100%;
    font-size: 14px;
     /* Flexbox container */
     display: flex;
     justify-content:space-between;
     align-items: center;
     padding: auto;
}

.icon{
    font-size: 2em;
}




.h4{   
    /* Flexbox container */
   display:inline-block;
    justify-content:space-between;
    align-items: center;
    background-color:#97f295;
    color: black;
    padding: Opx 0px 0px 0px;
    border-radius: 2px;
    height: 120px;

}

.h5{  
    /* Flexbox container */
    display:inline-block;
     justify-content:space-between;
     align-items: center;
     background-color:black;
     color: white;
     padding: Opx 0px 0px 0px;
     border-radius: 2px;
     width: 200px;

}


    

    


section {


    font-family: Helvetica, Arial, sans-serif;
    font-size: 35px;
    color: white;
    background-color:#333333;
    text-align:left;
    vertical-align: middle;
    height: 487px;
    width: 55%;
    float: left;
    margin: 20px 20px 20px 10 px;

}
            

                        
                    
aside{

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: aqua;
    background-color:#333333;
    text-align:left;
    vertical-align: middle;
    height: 455px;
    width: 648px;
    float: left;
    padding: 0px 28px 26px 0px
}

.cuadrado{ 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 23px;
    background-color: #424141;
    border-color: #424141;
    color: #fcf6f6;
      display: flex;
      width: 100%;
      border-color: #bbbaba;
      margin: 5px;
     align-items: center;
     height: 50px;
     padding: 0px 0px 10px 0px;
     border: solid 3px rgb(168, 174, 174);
    

}



    footer{
        background-color: black;
        width: 104%;
        height: 150px;
        padding: 30x 0px 0px 12px;
    }